.navbar {
  background: $purple;

  @media (min-width: $medium) and (max-width: $large) {
    height: 55px;
    min-width: 855px;
    flex: 0;
  }

  @media (min-width: $large) {
    padding-top: 55px;
    height: calc(100vh - 85px);
    flex: 0 0 175px;
  }

  ul {
    list-style: none;

    li {
      @media (min-width: $medium) and (max-width: $large) {
        display: inline-block;
        width: 175px;
      }

      a {
        color: $white;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
        font-weight: bold;
      }

      .news-link {
        &:hover {
          background: $olive;
        }

        &.active {
          background: $olive;
        }
      }

      .music-link {
        &:hover {
          background: $blue;
        }

        &.active {
          background: $blue;
        }
      }

      .video-link {
        &:hover {
          background: $fuschia;
        }

        &.active {
          background: $fuschia;
        }
      }

      .weather-link {
        &:hover {
          background: $orange;
        }

        &.active {
          background: $orange;
        }
      }
    }
  }
}