.news-container {
	flex: 1;

	@include flex-container(row wrap);

	.news-content-container {
		@include flex-container(row wrap);

    @media (min-width: $medium) {
    	margin-top: -4px;
    }

		@media (min-width: $large) {
			margin-top: -55px;
		}

		.article-column {
			flex: 6;
			overflow-y: scroll;

      @media (min-width: $medium) {
      	height: calc(100vh - 191px);
      }

      @media (min-width: $large) {
				height: calc(100vh - 140px);
			}

			> div {
	      &:last-child {
	      	.article-break {
	      		display: none;
	      	}
	      }
			}

			.article {
				padding: 15px;

				img {
					width: 100%;
				}

				p {
					margin: 15px 0 10px;
					line-height: 1.25em;
				}

				a {
					color: $olive;
					font-weight: bold;
					position: relative;

					@include animated-underline($olive);
				}

				.article-title {
					h2 {
						line-height: 1.1em;
					}

					.article-author {
						margin-bottom: 15px;

						h4 {
							display: inline-block;
							color: $red;
							margin: 0px 5px;
						}

						h5 {
							color: $gray;
							display: inline-block;
						}
					}
				}
			}

			.article-break {
				width: 100%;
				border-bottom: 1px solid $gray;
				text-align: center;
				margin-bottom: 10px;

				i {
					font-size: 1.3em;
					color: $gray;
					padding: 0 10px;
					position: relative;
					top: 12px;
					background: $white;
				}
			}
		}

		.sources-column {
			flex: 3;
			overflow-y: scroll;
			background: $white;
			border-left: 1px solid $gray;

			@media (min-width: $medium) {
      	height: calc(100vh - 191px);
      }

      @media (min-width: $large) {
				height: calc(100vh - 140px);
			}

			.news-source {
				padding: 15px 0px;
				background: $white;
				
				&:hover {
					background: rgba(61,153,112, 0.1);
					cursor: pointer;
				}

				.source-header {
					@include flex-container(row wrap);
					text-align: left;
					border-bottom: 1px dashed $black;
					padding-bottom: 15px;

					.source-logo {
						flex: 3;
						padding: 0px 15px;

						@include flex-container(row)
						align-items: center;

						img {
							width: 100%;
						}
					}

					.source-info {
						flex: 6;
						padding-right: 15px;
						overflow-x: hidden;

						h5 {
							color: $dark-gray;
						}

						a {
							position: relative;
							color: $olive;
							font-weight: bold;
							text-overflow: ellipsis;

							@include animated-underline($olive);
						}
					}
				}

				p {
					text-align: left;
					padding: 15px;
				}
			}
		}
	}
}
