* {
  padding: 0;
  margin: 0; }

body {
  background: #C1C1C1;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  color: #111111; }
  @media (min-width: 992px) {
    body {
      font-size: 95%; } }
  @media (min-width: 1200px) {
    body {
      font-size: 100%; } }

a {
  text-decoration: none; }

.flex-center-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center; }

input,
button {
  border: none;
  font-size: 100%;
  outline: none; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.75em; }

.banner {
  height: 85px;
  background: #FFFFFF; }
  .banner .banner-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 70%;
    max-width: 1200px;
    min-width: 1000px; }
    .banner .banner-content .site-logo {
      margin-left: 15px; }
      .banner .banner-content .site-logo img {
        height: 100%; }
      .banner .banner-content .site-logo h1 {
        color: #FF4136;
        display: inline-block;
        position: relative;
        font-family: "Josefin Slab", serif;
        -webkit-transform: perspective(1px) translateY(-50%);
        -ms-transform: perspective(1px) translateY(-50%);
        transform: perspective(1px) translateY(-50%); }
        .banner .banner-content .site-logo h1 span {
          color: #3B2A67; }
    .banner .banner-content .user-card {
      margin-right: 15px; }
      .banner .banner-content .user-card .user-logo {
        display: inline-block;
        position: relative;
        top: 15%;
        margin-right: 15px; }
        .banner .banner-content .user-card .user-logo i {
          font-size: 2.25em;
          color: #3B2A67; }
      .banner .banner-content .user-card .user-greeting {
        display: inline-block;
        position: relative;
        top: 50%;
        -webkit-transform: perspective(1px) translateY(-50%);
        -ms-transform: perspective(1px) translateY(-50%);
        transform: perspective(1px) translateY(-50%); }
        .banner .banner-content .user-card .user-greeting h5 {
          color: #C1C1C1; }
        .banner .banner-content .user-card .user-greeting h4 {
          color: #3B2A67; }

.navbar {
  background: #3B2A67; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .navbar {
      height: 55px;
      min-width: 855px;
      flex: 0; } }
  @media (min-width: 1200px) {
    .navbar {
      padding-top: 55px;
      height: calc(100vh - 85px);
      flex: 0 0 175px; } }
  .navbar ul {
    list-style: none; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .navbar ul li {
        display: inline-block;
        width: 175px; } }
    .navbar ul li a {
      color: #FFFFFF;
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      font-weight: bold; }
    .navbar ul li .news-link:hover {
      background: #3D9970; }
    .navbar ul li .news-link.active {
      background: #3D9970; }
    .navbar ul li .music-link:hover {
      background: #0074D9; }
    .navbar ul li .music-link.active {
      background: #0074D9; }
    .navbar ul li .video-link:hover {
      background: #F012BE; }
    .navbar ul li .video-link.active {
      background: #F012BE; }
    .navbar ul li .weather-link:hover {
      background: #FF851B; }
    .navbar ul li .weather-link.active {
      background: #FF851B; }

.section-banner {
  border-bottom: 1px solid #C1C1C1;
  padding: 0 15px;
  height: 55px;
  flex: 1;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    .section-banner {
      border-top: 1px solid #C1C1C1; } }
  .section-banner .section-header h3 {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%); }
  .section-banner .section-header .active-news-source {
    color: #C1C1C1;
    margin-left: 10px; }
  .section-banner .searchbar {
    position: relative; }
    .section-banner .searchbar i {
      position: relative;
      top: 50%;
      -webkit-transform: perspective(1px) translateY(-90%);
      -ms-transform: perspective(1px) translateY(-90%);
      transform: perspective(1px) translateY(-90%);
      left: 25px;
      z-index: 1;
      color: #3D9970; }
    .section-banner .searchbar input {
      position: relative;
      top: 50%;
      -webkit-transform: perspective(1px) translateY(-50%);
      -ms-transform: perspective(1px) translateY(-50%);
      transform: perspective(1px) translateY(-50%);
      border-radius: 10px 0 0 10px;
      padding: 5px 0 5px 30px;
      border: 1px solid #EFEFEF;
      font-size: 0.9em;
      width: 135px; }
      .section-banner .searchbar input:focus {
        border: 1px solid #3D9970; }
      .section-banner .searchbar input:hover::-webkit-input-placeholder {
        color: #111111;
        transition: color 0.5s; }
    .section-banner .searchbar button {
      position: relative;
      top: 50%;
      -webkit-transform: perspective(1px) translateY(-50%);
      -ms-transform: perspective(1px) translateY(-50%);
      transform: perspective(1px) translateY(-50%);
      border-radius: 0 10px 10px 0;
      padding: 5px 0;
      border: 1px solid #EFEFEF;
      font-size: 0.9em;
      width: 155px;
      background: #FFFFFF;
      color: #C1C1C1;
      box-sizing: content-box; }
      .section-banner .searchbar button:hover {
        background: #EFEFEF;
        color: #111111;
        transition: color 0.5s, background 0.5s;
        cursor: pointer; }
      .section-banner .searchbar button.active {
        border-radius: 0px;
        border: 1px solid #3D9970;
        border-bottom: 1px solid #EFEFEF; }
    .section-banner .searchbar ul {
      position: absolute;
      right: 0;
      top: 41px;
      list-style: none;
      z-index: 10;
      border: 1px solid #3D9970;
      border-top: none;
      border-radius: 0 0 10px 10px;
      overflow: hidden; }
      .section-banner .searchbar ul.hidden {
        display: none; }
      .section-banner .searchbar ul.active {
        display: block; }
      .section-banner .searchbar ul li {
        position: relative; }
        .section-banner .searchbar ul li button {
          color: #111111;
          border-radius: 0px;
          border: none;
          border-bottom: 1px solid #EFEFEF;
          transform: none; }
          .section-banner .searchbar ul li button:hover {
            color: #FFFFFF;
            background: #3B2A67; }
        .section-banner .searchbar ul li:last-child button {
          border-bottom: none; }

.news-container {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  .news-container .news-content-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    @media (min-width: 992px) {
      .news-container .news-content-container {
        margin-top: -4px; } }
    @media (min-width: 1200px) {
      .news-container .news-content-container {
        margin-top: -55px; } }
    .news-container .news-content-container .article-column {
      flex: 6;
      overflow-y: scroll; }
      @media (min-width: 992px) {
        .news-container .news-content-container .article-column {
          height: calc(100vh - 191px); } }
      @media (min-width: 1200px) {
        .news-container .news-content-container .article-column {
          height: calc(100vh - 140px); } }
      .news-container .news-content-container .article-column > div:last-child .article-break {
        display: none; }
      .news-container .news-content-container .article-column .article {
        padding: 15px; }
        .news-container .news-content-container .article-column .article img {
          width: 100%; }
        .news-container .news-content-container .article-column .article p {
          margin: 15px 0 10px;
          line-height: 1.25em; }
        .news-container .news-content-container .article-column .article a {
          color: #3D9970;
          font-weight: bold;
          position: relative; }
          .news-container .news-content-container .article-column .article a:before {
            content: '';
            width: 100%;
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #3D9970;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s; }
          .news-container .news-content-container .article-column .article a:hover:before {
            visibility: visible;
            transform: scaleX(1); }
        .news-container .news-content-container .article-column .article .article-title h2 {
          line-height: 1.1em; }
        .news-container .news-content-container .article-column .article .article-title .article-author {
          margin-bottom: 15px; }
          .news-container .news-content-container .article-column .article .article-title .article-author h4 {
            display: inline-block;
            color: #FF4136;
            margin: 0px 5px; }
          .news-container .news-content-container .article-column .article .article-title .article-author h5 {
            color: #C1C1C1;
            display: inline-block; }
      .news-container .news-content-container .article-column .article-break {
        width: 100%;
        border-bottom: 1px solid #C1C1C1;
        text-align: center;
        margin-bottom: 10px; }
        .news-container .news-content-container .article-column .article-break i {
          font-size: 1.3em;
          color: #C1C1C1;
          padding: 0 10px;
          position: relative;
          top: 12px;
          background: #FFFFFF; }
    .news-container .news-content-container .sources-column {
      flex: 3;
      overflow-y: scroll;
      background: #FFFFFF;
      border-left: 1px solid #C1C1C1; }
      @media (min-width: 992px) {
        .news-container .news-content-container .sources-column {
          height: calc(100vh - 191px); } }
      @media (min-width: 1200px) {
        .news-container .news-content-container .sources-column {
          height: calc(100vh - 140px); } }
      .news-container .news-content-container .sources-column .news-source {
        padding: 15px 0px;
        background: #FFFFFF; }
        .news-container .news-content-container .sources-column .news-source:hover {
          background: rgba(61, 153, 112, 0.1);
          cursor: pointer; }
        .news-container .news-content-container .sources-column .news-source .source-header {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
          text-align: left;
          border-bottom: 1px dashed #111111;
          padding-bottom: 15px; }
          .news-container .news-content-container .sources-column .news-source .source-header .source-logo {
            flex: 3;
            padding: 0px 15px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row;
            flex-flow: row;
            align-items: center; }
            .news-container .news-content-container .sources-column .news-source .source-header .source-logo img {
              width: 100%; }
          .news-container .news-content-container .sources-column .news-source .source-header .source-info {
            flex: 6;
            padding-right: 15px;
            overflow-x: hidden; }
            .news-container .news-content-container .sources-column .news-source .source-header .source-info h5 {
              color: #707173; }
            .news-container .news-content-container .sources-column .news-source .source-header .source-info a {
              position: relative;
              color: #3D9970;
              font-weight: bold;
              text-overflow: ellipsis; }
              .news-container .news-content-container .sources-column .news-source .source-header .source-info a:before {
                content: '';
                width: 100%;
                position: absolute;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #3D9970;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s; }
              .news-container .news-content-container .sources-column .news-source .source-header .source-info a:hover:before {
                visibility: visible;
                transform: scaleX(1); }
        .news-container .news-content-container .sources-column .news-source p {
          text-align: left;
          padding: 15px; }

#main {
  background: #FFFFFF; }
  @media (min-width: 992px) {
    #main {
      width: 85%;
      min-width: 855px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-flow: column; } }
  @media (min-width: 1200px) {
    #main {
      width: 70%;
      max-width: 1200px;
      min-width: 1000px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; } }
