$purple: #3B2A67;
$dark-gray: #707173;
$gray: #C1C1C1;
$light-gray: #EFEFEF;
$black: #111111;
$red: #FF4136;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$orange: #FF851B;
$maroon: #85144B;
$navy: #001F3F;
$fuschia: #F012BE;
$white: #FFFFFF;

$font-sans: 'Lato', sans-serif;
$font-serif: 'Josefin Slab', serif;