@import 'variables';
@import 'mixins';
@import 'globals';
@import 'partials/banner';
@import 'partials/nav';
@import 'partials/news';

#main {
	width: 70%;
	max-width: 1200px;
	min-width: 1000px;
	background: $white;

	@include flex-container(row wrap);
}

.section-banner {
	border-bottom: 1px solid $gray;
	border-top: 1px solid $gray;
	padding: 0 15px;
	height: 55px;
	flex: 1;
	box-sizing: border-box;

	@include flex-container(row wrap);
	@include justify-content(space-between);

	.section-header {
		  
		h3 {
			display: inline-block;
		  position: relative;
		  top: 50%;
		  @include transform(-50%);
		}

		.active-news-source {
			color: $gray;
			margin-left: 10px;
		}
	}

  .searchbar {
    position: relative;

    i {
    	position: relative;
    	top: 50%;
    	@include transform(-90%);
    	left: 25px;
    	z-index: 1;
    	color: $olive;
    }

  	input {
  		position: relative;
  		top: 50%;
	    @include transform(-50%);
		  border-radius: 10px 0 0 10px;
			padding: 5px 0 5px 30px;
			border: 1px solid $light-gray;
			font-size: 0.9em;
			width: 135px;

			&:focus {
				border: 1px solid $olive;
			}

			&:hover::-webkit-input-placeholder {
				color: $black;
				transition: color 0.5s;
			}
  	}

  	button {
  		position: relative;
  		top: 50%;
  		@include transform(-50%);
  		border-radius: 0 10px 10px 0;
  		padding: 5px 0;
  		border: 1px solid $light-gray;
  		font-size: 0.9em;
  		width: 155px;
  		background: $white;
  		color: $gray;
  		box-sizing: content-box;

  		&:hover {
  			background: $light-gray;
  			color: $black;
  			transition: color 0.5s, background 0.5s;
  			cursor: pointer;
  		}

  		&.active {
  			border-radius: 0px;
  			border: 1px solid $olive;
  			border-bottom: 1px solid $light-gray;
  		}
  	}

  	ul {
  		position: absolute;
  		right: 0;
  		top: 41px;
  		list-style: none;
  		z-index: 10;
  		border: 1px solid $olive;
  		border-top: none;
  		border-radius: 0 0 10px 10px;
  		overflow: hidden;

  		&.hidden {
  			display: none;
  		}

  		&.active {
  			display: block;
  		}

  		li {
  			position: relative;

  			button {
  				color: $black;
  				border-radius: 0px;
  				border: none;
  				border-bottom: 1px solid $light-gray;
  				transform: none;

  				&:hover {
  					color: $white;
  					background: $purple;
  				}
  			}

  			&:last-child {

  				button {
  					border-bottom: none;
  				}
  			}
  		}
  	}
  }
}

/*
#main {
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;

	#sidebar {
		padding-top: 55px;
		width: 200px;
		background: #3b2a67;
		float: left;
		height: 1300px;
		overflow-y: hidden;

		ul {
			list-style: none;

			#news-link {
				:hover {
					background: $olive;
				}

				&.active {
					background: $olive;
				}
			}

			#music-link {
				:hover {
					background: $blue;
				}

				&.active {
					background: $blue;
				}
			}

			#video-link {
				:hover {
					background: $fuschia;
				}

				&.active {
					background: $fuschia;
				}
			}

			#weather-link {
				:hover {
					background: $orange;
				}

				&.active {
					background: $orange;
				}
			}

			li {
				display: block;

				:hover {
					transition: background 0.5s ease-out;
					cursor: pointer;
				}

				a {
					display: inline-block;
					padding: 10px;
					padding-left: 15px;
					width: 100%;
					box-sizing: border-box;
					color: #FFFFFF;
					font-size: 1.3em;
				}
			}
		}
	}

	#news-container {
		width: 1000px;
		float: left;

		.news-stories-container {
			float: left;
			width: 66.66%;
			overflow-y: auto;
			position: relative;
			background: $white;
			display: block;

			.loading-articles {
				position: relative;
				display: block;
				height: 100%;
				text-align: center;
				width: 100%;

				p {
					position: relative;
					top: 50%;
					transform: translateY(-50%);

					i {
						color: $olive;
					}
				}
			}

			.news-stories {
				height: auto;
				position: relative;

				.article {
					padding: 15px;
					border: 1px solid white;
					border-top: none;
					box-sizing: border-box;

					&:last-child {
						padding-bottom: 40px;
					}

					.title-block {

						padding-bottom: 10px;

						h2 {
							padding-bottom: 5px;
						}

						h4 {
							display: inline-block;
							color: $red;
							font-weight: normal;
							padding-right: 4px;
						}

						h5 {
							display: inline-block;
							margin-right: 5px;
							color: $gray;
						}

					}

					.article-image {
						padding-bottom: 10px;

						img {
							max-width: 100%;
						}
					}

					.article-description {

						p {
							padding-bottom: 5px;
						}

						a {
							color: $olive;
						    font-weight: bold;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    position: relative;

						&:before {
								content: "";
								position: absolute;
								width: 100%;
								height: 1px;
								bottom: 0;
								left: 0;
								background-color: $olive;
								visibility: hidden;
								transform: scaleX(0);
								transition: all 0.3s ease-in-out 0s;
							}

							&:hover:before {
								visibility: visible;
								transform: scaleX(1);
							}
						}
					}
				}
			}
		}

		.news-sources-container {
			float: left;
			width: 33.33%;
			position: relative;
			overflow-y: auto;
			background: $white;
			border-left: 1px solid $gray;
			box-sizing: border-box;

			.news-sources {
				height: auto;
				position: relative;

				.news-tile {
					padding: 15px 10px;
					width: 100%;
					float: left;
					box-sizing: border-box;

					&:last-child {
						padding-bottom: 40px;
					}

					&:hover {
						background: rgba(61,153,112, 0.1);
						cursor: pointer;
					}

					.source {
						border-bottom: dashed 1px #707173;
						padding-bottom: 10px;

						.source-logo {
							width: 33%;
							float: left;
							vertical-align: middle;

							img {
								max-width: 100%;
								max-height: 60px;
							}
						}

						.source-description {
							box-sizing: border-box;
							width: 67%;
							float: left;
							padding-left: 10px;

							a {
								color: $olive;
								font-weight: bold;
								text-overflow: ellipsis;
								overflow: hidden;
								position: relative;

								&:before {
									content: "";
									position: absolute;
									width: 100%;
									height: 1px;
									bottom: 0;
									left: 0;
									background-color: $olive;
									visibility: hidden;
									transform: scaleX(0);
									transition: all 0.3s ease-in-out 0s;
								}

								&:hover:before {
									visibility: visible;
									transform: scaleX(1);
								}
							}

							h5 {
								color: #707173;
							}
						}
					}

					p {
						padding: 10px;
						font-size: 0.95em;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

*/