@import 'variables';
@import 'mixins';
@import 'globals';
@import 'partials/banner';
@import 'partials/nav';
@import 'partials/news-banner';
@import 'partials/news';

#main {
	background: $white;

  @media (min-width: $medium) {
  	width: 85%;
  	min-width: 855px;
    
    @include flex-container(column);
  }

	@media (min-width: $large) {
		width: 70%;
		max-width: 1200px;
		min-width: 1000px;

		@include flex-container(row wrap);
	}
}
